*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather',serif;
}

.all-content{
    background: #f7f5f2;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #26ab95;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px ;
}


/*navbar start */
#navbar{
    background-color: #26ab95;
}
#logo img{
    border-radius: 10px;
    width: 120px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
/*navbar end*/

/* hero section starts */
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(./images/freshly-baked-homemade-berry-pie-rustic-wood-generated-by-ai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
#home .content{
    padding-top: 210px;
    margin-left: 56px;
}
#home .content h3{
    font-size: 50px;
    color: white;
}
#home .content p{
    margin-top: 10px;
    color: white;
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    border: none;
    cursor: pointer;
}
#btn:hover{
    background: #26ab95;
}
/* hero section end */

/* under hero section start */
#top-cards{
    width: 100%;
    /* height: 60vh; */
    background: #f7f5f2;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #26ab95;
}
#top-cards .container{
    margin-top: 30px;
}
#top-cards .card {

    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{
    transform: translateY(-10px);
}
/*under hero section end*/

/* home page product start */
#product{
    width: 100%;
}
.heading4{
    text-align: center;
    color: #26ab95;
    font-size: 30px;
    padding-top: 70px;
    font-weight: bold;
    border-bottom: 2px solid #26ab95;
}
#container3{
    margin-top: 30px;
}
#product h3{
    text-align: center;
    color: #26ab95;
    font-size: 23px;
}
#product p{
    color: #26ab95;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}

/* home page product end */



/*about section start */
#about {
    width: 100%;

}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color:black;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #26ab95;
}
#about .card {
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;

}
#about-btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s ease;
    border: none;
    cursor: pointer;
}
#about-btn:hover{
    background: #26ab95;
}
@media screen and (max-width:982px){
    #about p{
        font-size: 18px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 18px;
    }
    #about{
        height: 120vh;
    }
}
/*about section end*/

/* products start */
#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #26ab95;
    font-weight: bold;
    border-bottom: 2px solid #26ab95;
}
#container2{
    margin-top: 50px;
}
#menu .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i {
    color: #26ab95;
}
#menu h3{
    text-align: center;
    color: #26ab95;
    margin-top: 10px;
    font-size: 20px;
}
#menu p{
    font-size: 16px;
    color: #26ab95;
    padding-top: 10px;
}
#menu p span{
    float: right;
    cursor: pointer;
}
#top-cards-select {
    width: 100%;
    background: #f7f5f2;

}

.heading-select {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.heading-select span {
    color: #26ab95;
}

#top-cards-select {
    width: 100%;
    background: #f7f5f2;
}

.heading-select {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.heading-select span {
    color: #26ab95;
}

#top-cards-select {
    width: 100%;
    background: #f7f5f2;
}

.heading-select {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.heading-select span {
    color: #26ab95;
}

#top-cards-select .container-select {
    margin-top: 30px;
    justify-content: space-evenly;
    display: flex;
}

#top-cards-select .col-md-6 {
    float: left;
    width: 500px;
    box-sizing: border-box;
    padding: 0 15px;
}

#top-cards-select .card {
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;

}

#top-cards-select .card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#top-cards-select .card:hover {
    transform: translateY(-10px);
}
.scroll-link{
    scroll-behavior: smooth;

}

/* products end */

/* contact start */
 #contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
 }
 #contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #26ab95 20%);
    border-radius: 10px;
 }
.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading6 span{
    color: #26ab95;
}
#contact p{
    font-weight: bold;
    font-size: 13px;
    color:black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #26ab95;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #26ab95;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#col{
    width: 40%;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #26ab95;
    }
    #contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
}
/* contact end */


/* footer start */
#footer{
    width: 100%;
    background: #26ab95;
    margin-top: 50px;
}
.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
#footer .social-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.credits a span{
    color: black
}
.copyright span{
    color: black;
}

/* footer end */